aiohttp-cors==0.7.0
ale-py==0.7.4
alpaca-trade-api==1.4.3
autorom==0.4.2
autorom.accept-rom-license==0.5.5
box2d-py==2.3.5
ccxt==1.61.1
colorful==0.5.5
deprecation==2.1.0
elegantrl==0.3.6
fqdn==1.5.1
gpustat==1.0.0
gputil==1.4.0
gym-notices==0.0.8
gymnasium==0.27.1
h2==4.1.0
isoduration==20.11.0
jqdatasdk==1.8.11
jsonpointer==2.3
jupyter==1.0.0
lz4==4.3.2
opencensus==0.11.1
opencv-python==4.7.0.72
pandas-market-calendars==4.1.4
pandas-ta==0.3.14b0
pip-chill==1.0.1
pre-commit==3.1.0
py-spy==0.3.14
pydantic==1.10.5
pygame==2.1.0
pyglet==2.0.4
pytest==7.2.1
python-binance==1.0.17
python-telegram-bot==20.1
quantstats==0.0.59
ray==2.3.0
rich==13.3.1
smart-open==6.3.0
stable-baselines3==1.7.0
stockstats==0.5.2
swig==4.1.1
ta==0.10.2
ta-lib==0.4.25
tensorboard==2.12.0
tensorboardx==2.6
uri-template==1.2.0
vectorbt==0.24.5
webcolors==1.12
wrds==3.1.5
